.choice-top {
    background-color: #000000;
    padding-top: 57px;
    padding-bottom: 322px;
}

.choice-title-label {
    margin-bottom: 26px;
}

.choice-bot {
    background-image: url(../assets/choice/botbg.svg);
    padding-top: 210px;
    padding-bottom: 137px;
}

.choice {
    position: relative;
}

.choice-car {
    position: absolute;
    top: 234px;
    left: 50%;
    transform: translateX(-50%);
}