* {
    margin: 0;
    padding: 0;
}

li {
    font-size: 15px;
    color: #FFFFFF;
}

.header-bg {
    background-color: #212121;
    padding-top: 18px;
    padding-bottom: 18px;
}

.promo h1 {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
}

.promo h2 {
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.promo p {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.promo {
    background-image: url('./assets/promo-bg.png');
    height: 500px;
}
