* {
    margin: 0;
    padding: 0;
}

.header-bg li {
    font-size: 15px;
    color: #FFFFFF;
}

.header-bg {
    background-color: #212121;
    padding-top: 18px;
    padding-bottom: 18px;
}

.promo h1 {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
}

.promo h2 {
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.promo p {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.promo {
    background-image: url('./assets/promo-bg.png');
    height: 500px;
}
.header h3{
    color: #ffffff;
    background-color: #000000;
    padding-top:11px;
    padding-bottom:11px;
    margin-top:20px;
    font-size: 11px;
    text-align: center;
}
.header h2{
    margin-top:32px ;
    margin-bottom:16px ;
    text-align: center;
    font-size: 38px;
}
.header img{
    background-color:#1EACC7;
    margin-right: 25px;
}
.info1 {
    font-size: 17px;
    text-align: left;
    margin-right: 70px;
}

.info2 {
    font-size: 17px;
    text-align: left;
}
.paragraph{
    color: #1EACC7;
}
.top {
    margin-bottom: 60px;
}
.middle1{
    margin-bottom: 65px;
}
.middle2{
    margin-bottom:39px ;
}
.bottom{
    margin-bottom: 64px;
}