* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1064px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.12) inset;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    padding: 20px 30px;
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
    color: #222;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    color: #222;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

h2.title_white {
    color: #fff;
}

.text_white {
    color: #fff;
}

.title-label {
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #000;
    margin: 0 auto;
    width: max-content;
    padding: 5px;
}

.title-label.title-label_white {
    background-color: #fff;
    color: #000;
}

.align-center {
    text-align: center;
}
